<h1>League Info</h1>
<br>
League: <%= @league.name %>
<br>
Country: <%= @league.country %>
<br>
Founded: <%= @league.founded %>
<br>
Current Champion: <%= @league.champion %>
<br>

<%= link_to "Add Team", new_league_team_path(@league) %>
<ul>
  <%= @teams.each do |team| %>
    <li><%= link_to "View Team Info", league_team_path(@league, team) %></li>
    <li> Name: <%= team.name %></li>
  <% end %>
</ul>
<br>
<%= link_to "Home", root_path %>