<h1>Leagues</h1>

<%= link_to "New League", new_league_path %>
<br>
<ul>
  <% @leagues.each do |league| %>
    <li><%= link_to "View League", league_path(league) %></li>
    <li><%= league.name %></li>
    <li><%= league.country %></li>
    <li><%= league.founded %></li>
    <li><%= league.champion %></li>
    <li><%= link_to "Edit League", edit_league_path(league) %></li>
    <li><%= link_to "Delete League", league_path(league), method: :delete %></li>
    <br>
  <% end %>
</ul>