<h1>Players</h1>

<%= link_to "New Player", new_league_team_player_path(@league, @team) %>
<br>
<% @players.each do |player| %>
  <br>
  <%= link_to "View Player Info", league_team_player_path(@league, @team, player) %>
  <br>
  <%= player.name %>
  <br>
  <%= player.dob %>
  <br>
  <%= player.nationality %>
  <br>
  <%= player.position %>
  <br>
  <%= link_to "Edit Player", edit_league_team_player_path(@league, @team, player) %>
  <br>
  <%= link_to "Delete Player", league_team_player_path(@league, @team, player), method: :delete %>
  <br>
<% end %>