<h1>Player Info</h1>

<%= @player.name %>
<br>
<%= @player.dob %>
<br>
<%= @player.nationality %>
<br>
<%= @player.position %>
<br>
<%= link_to "Edit Player", edit_league_team_player_path(@league, @team, @player) %>
<%= link_to "Back", league_team_players_path %>